@model IEnumerable<PEALSystem.Kimbemba.Dominio.Entidades.CodigoBarra>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Códigos de Barra</h1>

<p>
    <a asp-action="GerarCodigoBarra" class="btn btn-success">Gerar Código de Barra</a>
    <a asp-action="RemoveAll" class="btn btn-danger" >Remove Todos</a>
    <a asp-action="ExportarPDF" class="btn btn-secondary" >Exportar (PDF)</a>
</p>

<h4>Filtros</h4>
<p>
    <label class="control-label">Data</label>
    <a asp-action="ExportarPDF" class="btn btn-secondary" >Filtrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoAEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <barcode content="@item.Codigo" width="300" height="30" />
                @Html.DisplayFor(modelItem => item.Codigo)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoAEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Detalhes" asp-route-codigo="@item.Codigo">Detalhes</a> |
                <a asp-action="Remove" asp-route-codigo="@item.Codigo">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
